.recipe-list {
    height: 140px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 10px;

    &__item, &__item-active {
        height: 45px;
        line-height: 45px;
        text-indent: 10px;
        border-bottom: 1.5px solid $secondary;
    }

    &__item {
        &:hover {
            background-color: $secondary;
            cursor: pointer;
        }
        &-active {
            background-color: $primary;
        }
    }

    &__wrap {
        background-color: $light-bg;
        height: 160px;
        margin-bottom: 30px;
        padding: 5px 5px;
        border: 1.5px solid $grey;
        border-radius: 20px;
        overflow: hidden;        
    }
}