@import-normalize; 
@import './font.css';
@import './variables.scss';
@import './components/App/App.scss';
@import './components/Button/Button.scss';
@import './components/Form/Form.scss';
@import './components/Recipe/Recipe.scss';
@import './components/RecipeList/RecipeList.scss';

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
    height: 100%;
    width: 100%;
    font-family: 'Sriracha', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 2rem;
    background-image: url('./assets/img/bg.svg');
    background-repeat: no-repeat; 
    background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    width: 80%;
    max-width: 980px;
    margin: 20px auto;
}